body {
 background: url(Background.jpg) no-repeat center center fixed;
 -webkit-background-size: auto;
 -moz-background-size: auto;
 -o-background-size: auto;
 background-size: auto; 
 background-size: 100%;
	font-family: Arial;
}
.Bar {
font-family: Georgia;
padding-bottom: 10px;
padding-top:1%;
word-spacing:10%;
padding-left:5%;
font-size:10%;
background-image: url(Bar.jpg);
	background-size:cover, auto;
	background-repeat:no-repeat;
	height:100%;
	width: 100%;
	color:Blue;
	
}
