body {
 background: url(Background.jpg) no-repeat center center fixed;
 -webkit-background-size: auto;
 -moz-background-size: auto;
 -o-background-size: auto;
 background-size: auto; 
 background-size: 100%;
	font-family: Arial;
color: white;
float: right;
}
ul {
list-style:none;
	padding:0px;
	margin:0px;
	
}
ul li {
float:right;
width:200px;
height:40px;
background-color: white;
opacity: .3;
text-align: center;
font-size:35px;
}
ul li a{
text-decoration:none;
color:black;
display:block;
}
ul li a:hover {
background-color:blue;


}

.Bar {
font-family: Georgia;
padding-bottom: 10px;
word-spacing:10%;
font-size:275%;
font-weight 900%;
left: 5%;
	text-align:center;
	background-size:cover, auto;
	background-repeat:no-repeat;
	background-color:white; 
	height:15%;
	width: 100%;
	color:#132DA6;	
}

.thisismywebsite {
text-align: center;
font-size: 250%;
position:absolute;
top: 4%;
right: 50%;
color:#132DA6;	
font-family:Georgia;
font-weight:900%;
}
.dropdown {
height:5%;
width:2%
	}


