body {
 background: url(Background.jpg) no-repeat center center fixed;
 -webkit-background-size: auto;
 -moz-background-size: auto;
 -o-background-size: auto;
 background-size: auto; 
 background-size: 100%;
	font-family: Arial;
}
.Bar {
font-family: Georgia;
padding-bottom: 10px;
padding-top:100%;
word-spacing:10%;
padding-left:100%;
font-size:20%;
	background-size:cover, auto;
	background-repeat:no-repeat;
	background-color:white; 
	height:15%;
	width: 100%;
	color:Blue;
	
}
